body{
	background-color: lightgray;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;	/*전체 폰트를 줄여서 시작 (기본 16px)*/
}

#contents {
	background-color: #fafafa;
	width: 960px;
	margin: 0 auto;
	border: 1px solid red;
}
#logo {
	background-color: #3882c7;
	color: #ffffff;
	font-size: 24px;
	padding-left: 32px;
	padding-top: 16px;
	height: 40px;
	font-weight: bold;
}

#nav {
	background-color: #202020;
	height: 38px;
}
ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 5px;
}
ul.menu li {
	float: left;
	padding: 9px; 10px;
	border-right: 1px solid #ffffff;
}

/* 타이포 */
ul.menu li a {
	text-decoration: none;
	color: #ffffff;
	margin: 0px 6px;
}

ul.menu li a.active, ul.menu li a:hover {
	color: #ffff00;
}
#center {
	padding: 20px;
	border-top: 1px solid #202020;
}
#footer {
	text-align: right;
	padding: 15px;
	background-color: #cdcdcd;
	color: blue;
}

/* 타이포 */
h2 {
	font-size: 22px;
	margin: 8px 8px 16px 4px;
}
h3 {
	font-size: 18px;
	margin: 12px 8px 4px 9px;
}
h4 {
	font-size: 14px;
	margin: 12px 8px 4px 12px;
}
p {
	margin: 1px 8px 8px 24px;
}
a {
	text-decoration: none;
	color: #ff0000;
}