body {
	width: 1200px;
	font-family: Arial sans-serif;
}
div.head {
	width: 1200px;
	background-color: #2f3191;
	margin: 0px;
}
div.head p.logo {
	padding: 0px 30px;
	margin: 0px;
	width: 200px;
	height: 100px;
	background-color: #2f3191;
	text-align: center;
}
div.head p.logo img {
	width: 100px;
	height:100px;
}
div.head ul {
	width: 850px;
	list-style-type: none;
	margin: 0px;
	float: right;
	height: 100px;
	line-height: 100px;
}
div.head ul li {
	float: left;
	width: 120px;
	margin: 10px;
	position: relative;
	top: -110px;
	color: white;
	font-size: 120%;
	text-align: center;
}
div.slideimg {
	width: 1200px;
	height: 300px;
	background-image: url("../images/jupiter.jpg")
}
div.slidepoint {
	width: 20px;
	height: 20px;
	margin: 25px auto 30px auto;
	background-color: #5e5f65;
	border-radius: 10px;
}
div.container {
	width: 1160px;
	height: 430px;
	padding: 30px;
	margin: 0px;
}
div.container div.content{
	float: left;
	width: 650px;
	height: 200px;
	margin: 0px;
	padding: 0px;
}
div.container div.content div.menu {
	width: 650px;
	height: 30px;
	margin: 0px;
	padding: 0px;
}
div.container div.content div.menu ul {
	list-style-type: none;
	width: 640px;
	margin: 0px;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	padding: 0px;
	float: left;
}
div.container div.content div.menu ul li {
	float: left;
	width: 107px;
	height: 30px;
	border-right: 1px solid lightgray;
	line-height: 30px;
	margin: 0px;
	padding: 10px;
	text-align: center;
}
div.container div.content div.menu ul li.active,div.container div.content div.menu ul li:hover {
	background-color:#2f3191;
	color: white;
}
div.container div.content div.main {
	width: 635px;
	height: 150px;
	float: left;
	border: 1px solid lightgray;
	padding: 2px;
	font-size: 12px;
}
div.main ul {
	margin: 0px;
}
div.main ul li a {
	text-decoration: none;
	color: gray;
	float: left;
}
div.main ul li p {
	text-align: right;
	margin-right: 10px;
}
aside {
	float: right;
	width: 400px;
	height: 420px;
	border: 1px solid lightgray;
	padding: 10px;
}
aside p.bold {
	font-weight: bold;
	float: left;
	margin: 0px;
	font-size: 120%;
}
aside p.plus {
	float: right;
	font-size: 135%;
	margin: 0px;
	width: 25px;
	height: 25px;
	background-color: lightgray;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
}
aside p.plus a{
	text-decoration: none;
	color: white;
}
aside h2 {
	text-align: center;
	font-size: 28px;
}
aside h2 a.tri {
	font-size: 10px;
	line-heigt: 10px;
	text-decoration: none;
	color: gray;
}
aside table {
	width: 360px;
	margin: 30px auto;
	border-collapse: collapse;
}
aside table tr{
	margin: 0px;
	padding: 5px;
	text-align: center;
	height: 43px;
	border-bottom: 1px solid lightgray;
}
aside table tr th{
	border-top: 2px solid gray;
	border-bottom: 1px solid gray;
	height: 25px;
	font-size: 80%
}
aside table tr th.sun,aside table tr td.sun {
	color: red;
}
aside table tr td p.bg {
	background-color: #6788d7;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	color: white;
	margin: 0px auto;
	text-align: center;
	line-height:32px;
}
div.container div.star_conference {
	float: left;
	margin-top: 30px;
	margin-bottom: 0px;
}
div.container div.star_conference p img {
	width: 640px;
	height: 192px;
	margin-bottom: 0px;
	}
footer div.first {
	margin-top: 0px;
	margin-left: 40px;
}
footer div.first p {
	float: left;
	margin: 0 7px;
}
footer div.first p a {
	text-decoration: none;
	float: left;
	font-weight: bold;
	color: black;
	font-size: 90%;
}
footer div select {
	width: 180px;
	float: right;
	margin-right: 20px;
	padding: 5px;
	border: 1px solid lightgray;
	background-color: lightgray;
}
footer div.final {
	width: 1200px;
	float: left;
	margin: 0px;
	text-align: left;
	padding-left: 50px;
	color: #a8a8a8;
	font-family: Arial sans-serif;
	font-size: 80%;
}






