@charset "UTF-8";

div.content_wrapper{
	min-height:600px;
}
div.clear{clear:both;}

div.content_wrapper{ margin:0 auto; }
table{text-align:center;}
p> a {
	text-decoration: none;
	color: #222;
	width:100%;
	overflow:hidden;
	text-align: center;
}

table{ border-collapse: collapse;}

/* Dropdown */
div#nav{float:left; width:20%; margin-top: 70px;height:100%;}
div#user-sch{float:left; margin-top: 70px;}


.dropdown button {
	color: black;
	padding:15px;
	
	
}
button.drop-button1,
button.drop-button2,
button.drop-button3,
button.drop-button4,
button.drop-button5{
	width:100%;
	border:none;
	background:white;
	font-size:16px;
	text-align:left;
	
}
button.drop-button{float:left;}
.dropdown-submenu1,
.dropdown-submenu2,
.dropdown-submenu3,
.dropdown-submenu4,
.dropdown-submenu5
{
text-align: center;
 font-size:14px;
 
 width:100%;
}
.dropdown-submenu1 > p,
.dropdown-submenu2 > p,
.dropdown-submenu3 > p,
.dropdown-submenu4 > p,
.dropdown-submenu5 > p
{
	text-align: left;
	margin-left:50px;
}
.dropdown-submenu {
	border: 1px solid;
	
	width: inherit;
	text-align: center;
	box-sizing: border-box;
	border-top: none;
	display: none;
}
.dropdown-submenu a {
	display: block;
	border-bottom: 1px dashed grey;
	font-size:14px;
}
.dropdown-submenu a:last-child {
	border-bottom: none;
}

.dropdown-submenu a:hover {
	font-weight:bold;
	color: black;
}
.dropdown:hover button{
	cursor:pointer;
	
}
td > button:hover{
	font-weight:bold;
	transition: 0.2s;
	font-size:14px;
}

vcxzv{ background : #e79e07;}
