body {
	margin: 0;
	font-family: "nsk","맑은고딕","Malgun Gothic", SimHei, Sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,"FangSong", "仿宋", STFangSong, "华文仿宋","Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",AppleGothic,Dotum,arial,sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0px;
	padding: 0;
	border: 0;
	vertical-align: top;
}

/* header 영역 */
header {
	width: 100%;
	height: 100px;
	border-bottom : 1px solid black;
}
#head {
	margin: 0 auto;
	background-color: none;
	height: 100px;
	width: 1000px;
}

div#logo {
	width: 193px;
	height: 85px;
	float: left;
	margin: 0;
}

div#logo img {
	width: 193px;
	height : 85px;
	margin: 0;
}

nav {
	float: left;
	height: 85px;
	margin: 0;
	line-height: 75px;
}

ul.menu {
	margin-left: 20px;
	width: 600px;
	list-style-type : none;
}

ul.menu>li {
	margin: 0;
	width: 120px;
	height: 100%;
	float: left;
	background-color: none;
}

ul.menu>li a {
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

ul.menu>li a:hover {
	color: #668a0a;
}	

ul.sub {
	background-color: none;
	list-style-type: none;
	width: 840px;
	float: left;
	height: 20px;
	position: relative;
	left: -120px;
}
#product ul.sub {
	background-color: none;
	list-style-type: none;
	width: 840px;
	float: left;
	height: 20px;
	position: relative;
	left: -70px;
}
ul.sub>li {
	float: left;
	padding-right: 20px;
	background-color: none;
}
div.menu_list_wrap a {
	border-radius: 100px;
	font-size: 10px;
	background-color: #eee;
	color: #9162e4;
	margin: 0;
	padding: 2px 5px;
}
a {
	text-decoration: none;
}


/* section */
section {
	margin: 100px auto;
	width: 700px;
	height: 300px;
}
h2 {
	width: 700px;
	text-align: center;
}
.content {
	width: 200px;
	height: 100px;
	border-radius: 20px;
	float: left;
	margin: 15px;
}
#ct1 {
	background-color: #ffcccb;
	border: 1px solid #ff5252;
}
#ct1 a b {
	color: #ff5252;
}
#ct2 {
	background-color: #b2dfdb;
	border: 1px solid #004d40;
}
#ct2 a b {
	color: #004d40;
}
#ct3 {
	background-color: #d7ccc8;
	border: 1px solid #4e342e;
}
#ct3 a b {
	color: #4e342e;
}
#ct4 {
	background-color: #e1bee7;
	border: 1px solid #6a1b9a;
}
#ct4 a b {
	color: #6a1b9a;
}
#ct5 {
	background-color: #fff9c4;
	border: 1px solid #f57f17;
}
#ct5 a b {
	color: #f57f17;
}
#ct6 {
	background-color: #cfd8dc;
	border: 1px solid #455a64;
}
#ct6 a b {
	color: #455a64;
}
.content a {
	text-decoration: none;
}
.content b {
	text-align: center;
	width: 120px;
	float: left;
	height: 100px;
	line-height: 100px;
}
.content img {
	width: 80px;
	height: 100px;
	float: right;
	border-radius: 0 20px 20px 0;
}

/* footer*/
footer {
	width: 100%;
	height: 100px;
	border-top : 2px solid #7ecb20;
	background-color: #ccff90;
}
#foot {
	width: 1000px;
	height: 100px;
	font-size: 10px;
	margin: 0 auto;
}
#f_total {
	width: 1000px;
	height: 100px;
	margin: auto;
}

span#f_logo {
	width: 152px;
	height: 75px;
	float: left;
	margin-right: 10px 30px 0 20px;
}
span#f_logo img{
	width: 100%;
	height: 100%;
}
#foot #f_tt {
	height: 100px;
	padding: 10px 0;
	margin-left: 30px;
	float: left;
}
#foot #f_menu {
	margin-top: 5px;
}
#foot #f_menu a {
	margin-right: 5px;
	font-weight: bold;
	color: #1b5e20;
	text-decoration: none;
}
#foot p {
	font-size: 10px;
}




