<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-mybatis.orgDTD Mapper 3.OEN"  "http:mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haksung.memorestapi.mapper.MemoMapper">

    <select id="getMemo" resultType="com.haksung.memorestapi.dto.MemoDto">
        select
            id, title, content, date_format(insertDate, '%Y%m%d') as insertDate
        from
            memo
    </select>

    <select id="getMemoDetail" parameterType="java.lang.Integer" resultType="com.haksung.memorestapi.dto.MemoDto">
        select
            id, title, content, date_format(insertDate, '%Y%m%d') as insertDate
        from
            memo
        where
            id = #{id}
    </select>

    <insert id="postMemo" parameterType="com.haksung.memorestapi.dto.MemoDto">
        insert into memo (id, title, content, insertDate)
        values (get_seq('memo_seq'), #{title}, #{content}, #{insertDate})
    </insert>

    <insert id="putMemo" parameterType="com.haksung.memorestapi.dto.MemoDto">
        update memo
        set
            insertDate = date_format(sysdate(), '%Y%m%d')
        <if test='title != null and !title.equals("")'>
            , title = #{title}
        </if>
        <if test='content != null and !content.equals("")'>
            , content = #{content}
        </if>
    </insert>

    <delete id="deleteMemo" parameterType="com.haksung.memorestapi.dto.MemoDto">
        delete from memo
        where
            id = #{id}
    </delete>

</mapper>