body {
	width: 1000px;
	margin: 0 auto;
	padding-top: 15px;
}
nav {
	float: right;
	color: #707070;
	font-weight: bold;
	font-size: 12px;
}

h2 {
	font-size: 24px;
	margin: 0;
}

.listwrapper {
	margin: 0 auto;
}

.listwrapper #list {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #bcbcbc;
	border-bottom: 1px solid #bcbcbc;
}
.listwrapper #list tr {
	font-size: 14px;
}
.listwrapper #list tr th {
	background-color: #f5f5f5;
	border-bottom: 1px solid #bcbcbc;
}
.listwrapper #list tr th,.listwrapper #list tr td {
	height: 25px;
	line-height: 25px;
}
.listwrapper #list tr td.border {
	border-bottom: 1px solid #eeeeee;
}
.listwrapper #list tr #no, #date, #view{
	width: 50px;
	text-align: center;
}
.listwrapper #list tr #writer {
	width: 70px;
	text-align: center;
}
.listwrapper #list tr #title {
	text-align: left;
	padding-left: 5px;
}


