@charset "UTF-8";

div.content_wrapper{
	margin : 20px auto;
	width : 50%;
}
h1#h1{
	text-align : center;
	font-size : 40px;
}
h3#h3{
	text-align : center;
	color : gray;	
	font-size : 20px;
}
.maincont > h3 {
	margin : 0;
}
div.content{
	margin : 20px 2%;
	padding : 20px 50px;
	width : 90%;
	height : 300px;
	border : 1px solid lightgray;
    box-shadow: 3px 3px gray;
}
.maincont > p.big{
	font-size : 25px;
	font-weight: 700;
}
.maincont > p {
	margin: 0;
}
div.content #h3{
	font-size : 30px;
	text-align : center;
}
div.content > div.maincont {
	width : 70%;
	height : 100%;
	float : left;
}
#red {
	color : red;
	font-weight: bold;
}
button#bookingcancel {
	width : 150px;
	height : 50px;
	float : right;
	position : relative;
	top : -100px;
	margin-right : 80px;
	font-size : 15px;
	font-weight : bold;
	border-radius : 15px;
	border : none;
	background-color : #cfd8dc;
}
button#bookingcancel:hover {
	background-color : black;
	color : white;
}