<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-mybatis.orgDTD Mapper 3.OEN"  "http:mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haksung.memorestapi.mapper.LandmarkMapper">

    <resultMap id="landmarks" type="com.haksung.memorestapi.dto.LandmarkDto">
        <id property="name" column="name"/>
        <id property="category" column="category"/>
        <id property="city" column="city"/>
        <id property="state" column="state"/>
        <id property="id" column="id"/>
        <id property="isFeatured" column="isFeatured"/>
        <id property="isFavorite" column="isFavorite"/>
        <id property="park" column="park"/>
        <id property="description" column="description"/>
        <id property="imageName" column="imageName"/>
        <association property="coordinates"
                     javaType="com.haksung.memorestapi.dto.CoordinatesDto">
<!--            <id property="id" column="id"/>-->
            <id property="longitude" column="longitude"/>
            <id property="latitude" column="latitude"/>
        </association>
    </resultMap>

    <insert id="postLandmark" parameterType="com.haksung.memorestapi.dto.LandmarkDto">
        insert into landmark (
            name, category, city, state, id, isFeatured, isFavorite, park, description, imageName
        )
        values (
            #{name}, #{category}, #{city}, #{state}, #{id}, #{isFeatured}, #{isFavorite}, #{park}, #{description}, #{imageName}
        );

        insert into coordinates (
            id, longitude, latitude
        )
        values (
            #{id}, truncate(#{coordinates.longitude}, 6), truncate(#{coordinates.latitude}, 6)
        );
    </insert>

    <select id="getLandmarks" resultMap="landmarks">
        select
            l.name,
            l.category,
            l.city,
            l.state,
            l.id,
            l.isFeatured,
            l.isFavorite,
            l.park,
            l.description,
            l.imageName,
            c.longitude,
            c.latitude
        from
            landmark l
        left join
            coordinates c
        on
            l.id = c.id
    </select>

    <update id="putLandmark" parameterType="com.haksung.memorestapi.dto.LandmarkDto">
        update landmark set
            isFavorite = #{isFavorite},
            isFeatured = #{isFeatured}
        where
            id = #{id}
    </update>

    <insert id="postHike" parameterType="com.haksung.memorestapi.dto.HikeDto">
        insert into hike (
            name, id, distance, difficulty
        )
        values (
            #{name}, #{id}, truncate(#{distance}, 1), #{difficulty}
        );

        <foreach collection="observations" item="observation">
            insert into observations(
                id, seq, elevation1, elevation2,
                pace1, pace2, heartRate1, heartRate2,
                distanceFromStart
            )
            values
            (
                #{id}, #{observation.seq}, truncate(#{observation.elevation1}, 17), truncate(#{observation.elevation2}, 17),
                truncate(#{observation.pace1}, 17), truncate(#{observation.pace2}, 17),
                truncate(#{observation.heartRate1}, 17), truncate(#{observation.heartRate2}, 17),
                truncate(#{observation.distanceFromStart}, 3)
            );
        </foreach>
    </insert>

    <resultMap id="hikes" type="com.haksung.memorestapi.dto.HikeDto">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="distance" property="distance"/>
        <result column="difficulty" property="difficulty"/>
        <collection property="observations" resultMap="observationList"/>
    </resultMap>

    <resultMap id="observationList" type="com.haksung.memorestapi.dto.ObservationDto">
        <result column="elevation1" property="elevation1"/>
        <result column="elevation2" property="elevation2"/>
        <result column="pace1" property="pace1"/>
        <result column="pace2" property="pace2"/>
        <result column="heartRate1" property="heartRate1"/>
        <result column="heartRate2" property="heartRate2"/>
        <result column="distanceFromStart" property="distanceFromStart"/>
    </resultMap>

    <select id="getHikes" resultMap="hikes">
        select
            h.name, h.id, h.distance, h.difficulty,
            o.id,
            o.elevation1, o.elevation2, o.pace1, o.pace2,
            o.heartRate1, o.heartRate2, o.distanceFromStart
        from
            hike h
        left join
            observations o
        on
            h.id = o.id
        order by
            h.id, o.seq
    </select>

</mapper>