body {
	background-image: url("../images/darkwood.jpg");
	color: #666666;
	background-position: center;
	margin:0;
	line-height: 1.5em;
	font-family: Georgia, times, serif;	/* 읽기용 서체-명조체 */
}

div.wrapper {
	width: 940px;
	margin: 20px auto;
	border: 2px solid #000000;
	background-color: #ffffff;
}
header {
	height: 160px;
	background-image: url("../images/exam4_logo.jpg");
}
header h1 {
	text-indent: -1000px;	/* 눈속임 */
	height: 130px;
	width: 940px;
	margin: 0;			/* 박스안에 있을 블록태그: 기본여백 */
}
nav {
	height: 30px;
	background-color: #aeaca9;
	color: #ffffff;
}
nav ul {
	margin: 0;
	padding: 5px 0px 5px 30px;
}
nav ul li {
	display: inline;
	margin: 40px;
}
nav ul li a {
	text-decoration: none;
	color: #ffffff;
}
/* 메인 콘텐츠 */
section.courses {
	float: left;
	width: 658px;
	border-right: 1px solid #eeeeee;
}
article {
	overflow: auto;
	width: 100%;
}
figure {
	float: left;
	width: 285px;
	height: 220px;
	margin: 20px;
	padding: 6px;
	border: 1px solid #eeeeee;
}
hgroup {
	margin-top: 45px;
}
/* 우측 링크 */
aside {
	margin-left: 5px;
	padding: 0px 0px 0px 5px;
}
aside section a{
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #dd6681;
}

footer {
	clear: both;
	height: 30px;
	background-color: #aeaea9;
	color: #ffffff;
	padding-left: 30px;
}
